.bar-values{
    text-align: center;
    display: flex;

}
.array-bar{
  background-color: aqua;
  display: flex;
  align-items: flex-end; /* Align values at the bottom of the bar */

}
.bar-container{
 display: flex;
 align-items: flex-end;
 justify-content: center;
 margin-top:10em ;


}
.butttons{
    background-color: blue;

} 

.array-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bar-value {
    margin-top: 4px; /* Adjust the margin as needed */
    color: rgb(0, 0, 0); /* Optional: Set the text color */
  }


.disabled-link {
  pointer-events: none;
  color: #6c757d !important;
}

