.array-container{
    position: absolute;


}

.array-bar{
    width: 2px;
    background-color: aqua;
    display: inline-block;
    margin:  1px;
    text-align: left;

}
.bar-container{
 display: flex;
 align-items: flex-end;
 justify-content: center;
 margin-top:10em ;
 margin-left: 20px;

}
.butttons{
    background-color: blue;

} 